main {
  min-height: 100vh;
}

#product-search-bar {
  width: 64%;
  background-color: whitesmoke;
  border-radius: 0.2rem;
}

#product-search-button {
  background-color: #0275d8;
}

.navbar-item {
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.fa-shopping-cart {
  margin: 3px;
}

.fa-user {
  margin: 3px;
}

.heading {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

.login-spinner {
  text-align: center;
}

.form-label {
  margin: 0;
  font-size: 20px;
}

.trademark {
  color: whitesmoke;
  width: 100%;
  font-size: 17px;
  text-align: center;
  padding: 1px;
  bottom: 0;
  background-color: #0275d8;
}

.star {
  font-size: 15px;
  color: #fdb827;
}

.userheading {
  padding-top: 30px;
  padding-bottom: 20px;
}

.Userlink {
  font-size: 20px;
}

.cart-image {
  border-radius: 65px;
  padding: 5px;
  width: 150px;
}

.cart-delete {
  cursor: pointer;
}

.empty-cart-message {
  background-color: #a4ebf3;
  height: 50px;
}

.new-customer-message {
  color: black;
  display: inline-block;
  font-size: 20px;
}

.new-customer-register-link {
  display: inline-block;
  font-size: 20px;
}

.dropdown-menu {
  background-color: #2196f3;
  border-radius: 6%;
}

.dropdown {
  background-color: #2196f3;
  border-radius: 0%;
}

.dropdown-toogle {
  color: rgb(0, 0, 0, 0.6);
  letter-spacing: 0.2mm;
  font-size: 14px;
  border-radius: 6%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

.dropdown-toogle:hover {
  color: rgb(0, 0, 0);
}
