main{
    min-height: 100vh;
}

#product-search-bar{
    width: 84%;
    background-color: whitesmoke;
    border-radius: 0.2rem;
}

#product-search-button{
    background-color: #0275d8;
}

.navbar-item{
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.fa-shopping-cart{
    margin: 3px;
}

.fa-user{
    margin: 3px;
}

.heading{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.login-spinner{
    text-align: center;

}

.form-label{
    margin: 0;
    font-size: 20px;
}

.trademark{
    color: whitesmoke;
    width: 100%;
    font-size: 17px;
    text-align: center;
    padding: 1px; 
    bottom: 0;
    background-color: #0275d8;
}

.star{
    font-size: 15px;
    color: #fdb827;
}

.userheading{
    padding-top: 30px;
    padding-bottom: 20px;
}

.Userlink{
    font-size: 20px;
}




